In [ ]:
import pandas as pd

In [6]:
pd.read_csv('plavki.csv', delimiter=',')

,id,date,smena,steel_type,gost,C,Si,Mn,S,P,...,Ni,Cu,N,Ti,Nb,Sn,V,B,Mo,Ca
0,0,2024-01-01,308,SM_1,ГОСТ 380-2005,0.1,0.12,0.3,0.04,0.03,...,0.25,0.25,0.005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2024-01-01,308,SM_2,ГОСТ 14637-89,0.1,0.04,0.3,0.09,0.03,...,0.40,0.25,0.005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2024-01-01,308,SM_5,ГОСТ 16523-97,0.3,0.12,0.6,0.04,0.03,...,0.25,0.25,0.005,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pd.read_csv('ostatki.csv', delimiter=',')

   id              name  min_ost  as_is_ost
0   0        лом 1 сорт      200        225
1   1        лом 2 сорт     2000       1400
2   2  лом легированный      300        315
3   3             чугун     1500       1500
4   4             скрап     1500       1000